# clock
set_io              clock     21

# reset using buttun
set_io  -pullup yes reset     112

# UART Rx
set_io              io_rx     113
set_io              io_rts    114

# LEDs
set_io              io_RLED1  99
set_io              io_RLED2  98
set_io              io_RLED3  97
set_io              io_RLED4  96
set_io              io_GLED   95