function Main.main 2
call Uart.receiveChar 0
pop local 0
call Uart.receiveChar 0
pop local 1
push local 0
push constant 2
eq
push local 1
push constant 108
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 8201
push constant 1
call Memory.poke 2
pop temp 0
label IF_FALSE0
push constant 0
return
