# in the pcf (physical constrain file) 
# the external pins of the fpga are defined
# compare to the schematic of the board and the datasheet of fpga

# clock & reset
set_io clock 15
set_io reset 41

# Button
# PUSH: L, PULL: H
# set_io io_btn0 41
# set_io io_btn1 42


# UART
set_io io_rx  1
set_io io_rts 2
set_io io_tx  3
set_io io_cts 4


# SPI
set_io io_miso 7
set_io io_mosi 8
set_io io_sclk 9
set_io io_csx  10
set_io io_dcx  12
set_io io_rstx 13
set_io io_ledback 16


# LED 7 Segment
set_io              io_outLED7Seg[6]    18 
set_io              io_outLED7Seg[5]    19 
set_io              io_outLED7Seg[4]    20  
set_io              io_outLED7Seg[3]    21  
set_io              io_outLED7Seg[2]    24  
set_io              io_outLED7Seg[1]    25  
set_io              io_outLED7Seg[0]    26  
set_io              io_csLED7Seg        27  


# Debug LED
set_io io_led0 40
set_io io_led1 51


# SRAM
set_io SRAM_ADDR[0] 79      # SA0
set_io SRAM_ADDR[1] 80      # SA1
set_io SRAM_ADDR[2] 81      # SA2
set_io SRAM_ADDR[3] 82      # SA3
set_io SRAM_ADDR[4] 83      # SA4
set_io SRAM_ADDR[5] 85      # SA5
set_io SRAM_ADDR[6] 86      # SA6
set_io SRAM_ADDR[7] 87      # SA7
set_io SRAM_ADDR[8] 89      # SA8
set_io SRAM_ADDR[9] 90      # SA9
set_io SRAM_ADDR[10] 91     # SA10
set_io SRAM_ADDR[11] 93     # SA11
set_io SRAM_ADDR[12] 94     # SA12
set_io SRAM_ADDR[13] 95     # SA13
set_io SRAM_ADDR[14] 96     # SA14
set_io SRAM_ADDR[15] 97     # SA15
set_io SRAM_ADDR[16] 99     # SA16
set_io SRAM_ADDR[17] 100    # SA17 
set_io SRAM_CSX 78          # SRAM_#CS
set_io SRAM_OEX 74          # SRAM_#OE
set_io SRAM_WEX 73          # SRAM_#WE 
set_io SRAM_DATA[0] 62      # SD0
set_io SRAM_DATA[1] 63      # SD1
set_io SRAM_DATA[2] 64      # SD2
set_io SRAM_DATA[3] 65      # SD3
set_io SRAM_DATA[4] 66      # SD4
set_io SRAM_DATA[5] 68      # SD5
set_io SRAM_DATA[6] 69      # SD6
set_io SRAM_DATA[7] 71      # SD7
set_io SRAM_DATA[8] 72      # SD8
set_io SRAM_DATA[9] 60      # SD9
set_io SRAM_DATA[10] 59     # SD10
set_io SRAM_DATA[11] 57     # SD11
set_io SRAM_DATA[12] 56     # SD12
set_io SRAM_DATA[13] 54     # SD13
set_io SRAM_DATA[14] 53     # SD14
set_io SRAM_DATA[15] 52     # SD15
