# in the pcf (physical constrain file) 
# the external pins of the fpga are defined
# compare to the schematic of the board and the datasheet of fpga

# clock & reset
set_io clock 15
set_io reset 41

# Button
# PUSH: L, PULL: H
# set_io io_btn0 41
# set_io io_btn1 42


# UART
set_io io_rx  1
set_io io_rts 2
set_io io_tx  3
set_io io_cts 4


# SPI
set_io io_miso 7
set_io io_mosi 8
set_io io_sclk 9
set_io io_csx  10
set_io io_dcx  12
set_io io_rstx 13
set_io io_ledback 16


# LED 7 Segment
set_io              io_outLED7Seg[6]    18 
set_io              io_outLED7Seg[5]    19 
set_io              io_outLED7Seg[4]    20  
set_io              io_outLED7Seg[3]    21  
set_io              io_outLED7Seg[2]    24  
set_io              io_outLED7Seg[1]    25  
set_io              io_outLED7Seg[0]    26  
set_io              io_csLED7Seg        27  


# Debug LED
set_io io_led0 40
set_io io_led1 51

