function Sys.init 2
push constant 0
pop static 0
push constant 8197
pop static 1
push constant 8198
pop static 2
push constant 8199
pop static 3
push constant 0
pop local 0
push constant 5497
neg
pop local 1
push static 2
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 3
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push static 0
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 3
push static 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push static 0
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push static 0
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
